webpack/webpack-test-system/node_modules/*
webpack/webpack-film-demo/node_modules/*
wexin/photo/miniprogram_npm/*
wexin/photo/node_modules/*
wexin/test1/miniprogram_npm/*
wexin/test1/node_modules/*
vue/crmeb1/node_modules/*
vue/uniapp/ecom/node_modules/*
vue/uniapp/ecom/uni_modules/*
vue/visual/node_modules/*
vue/vueall/node_modules/*
vue/uniapp/book/node_modules/*
vue/uniapp/book/uni_modules/*


