html {
    font-size: 6.66667vw;
}

* {
    margin: 0;
    padding: 0;
}

#page {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

#page .header {
    width: 100%;
    background-color: #0b193f;
    background-image: url(../images/youshang.png);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: right top;
    box-sizing: border-box;
    padding: 0 0.8rem 0;
    overflow: hidden;
}

#page .header .back img {
    display: block;
    margin: 2.2rem 0 0.6rem;
    width: 0.7rem;
}

#page .header .back p {
    color: #f2f2f2;
    font-size: 0.72rem;
}

#page .header .yingpin {
    text-align: center;
    background-image: url(../images/light.png);
    background-repeat: no-repeat;
    background-position: 0px 0.6rem;
    background-size: 100% 100%;
    height: 3.8rem;
    margin-top: 2.4rem;
}

#page .header .yingpin img {
    width: 11.8rem;
}

#page .header .yingpin p {
    color: #ffffff;
    font-size: 0.48rem;
}

#page .header .seat .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.44rem;
}

#page .header .seat .row dd:nth-child(3) {
    margin-right: 1.24rem;
}

#page .header .seat .row dd div {
    width: 1.68rem;
    height: 1.08rem;
    border-radius: 8px;
    border: solid 2px #ffffff;
    color: #ffffff;
    font-size: 0.48rem;
    text-align: center;
    line-height: 1.08rem;
}

#page .header .seat .row dd .yx {
    background-color: #4073ff;
}

#page .header .seat .row dd .ys {
    background-color: #e4ecff;
    color: #0b193f;
}

#page .header .prompt {
    width: 100%;
    display: flex;
    margin: 1.3rem 0 1.2rem;
}

#page .header .prompt .item {
    display: flex;
    align-items: center;
    margin-right: 0.8rem;
}

#page .header .prompt .item div {
    width: 0.64rem;
    height: 0.64rem;
    border-radius: 8px;
    border: solid 2px #ffffff;
    margin-right: 0.2rem;
}

#page .header .prompt .item span {
    color: #ffffff;
    font-size: 0.24rem;
}

#page .header .prompt .box2 div {
    background-color: #4073ff;
}

#page .header .prompt .box3 div {
    background-color: #e4ecff;
}

#page .footer {
    padding: 1rem 0.8rem 0;
}

#page .footer .content h3 {
    color: #000018;
    font-size: 0.64rem;
}

#page .footer .content p {
    color: #141337;
    font-size: 0.48rem;
    margin-top: 0.5rem;
}

#page .footer .select_sit {
    width: 100%;
    border-radius: 16px;
    border: solid 2px #cccccc;
    padding: 0.6rem 0.52rem;
    display: flex;
    margin-top: 1rem;
    box-sizing: border-box;
}

#page .footer .select_sit h3 {
    color: #141337;
    font-size: 0.48rem;
    margin-bottom: 0.4rem;
}

#page .footer .select_sit .yxsit {
    width: 50%;
}

#page .footer .select_sit .yxsit ul {
    padding-bottom: 0.48rem;
    overflow: hidden;
}

#page .footer .select_sit .yxsit ul ol {
    width: 0.8rem;
    height: 0.8rem;
    background-color: #4073ff;
    border-radius: 1px;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    float: left;
    font-size: 0.4rem;
    text-align: center;
    line-height: 0.8rem;
    text-align: center;
    color: #fff;
}

#page .footer .select_sit .allprice p {
    color: #4073ff;
    font-size: 0.56rem;
}

#page .footer .buy {
    margin-top: 0.96rem;
    width: 100%;
    height: 1.92rem;
    background-color: #4073ff;
    border-radius: 16px;
    border: none;
    color: #ffffff;
    font-size: 0.64rem;
}
