@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  width: 100%;
  height: 130px;
}

.header .headerTop {
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
}

.header .headerTop .topCenter {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #9a9a9a;
}

.header .headerTop .topCenter a {
  color: #9a9a9a;
}

.header .headerTop .topCenter .topRight {
  display: flex;
}

.header .headerTop .topCenter .topRight span {
  display: block;
  line-height: 1;
}

.header .headerTop .topCenter .topRight span:first-child {
  padding-right: 20px;
  border-right: 1px solid #9a9a9a;
}

.header .headerTop .topCenter .topRight span:last-child {
  padding-left: 20px;
}

.header .headerBottom {
  width: 100%;
  height: 90px;
}

.header .headerBottom .bottomCenter {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header .headerBottom .bottomCenter img {
  width: 170px;
}

.header .headerBottom .bottomCenter select {
  border: none;
  margin: 0 60px 0 20px;
  font-size: 16px;
  color: #313131;
}

.header .headerBottom .bottomCenter select:focus {
  outline: none;
}

.header .headerBottom .bottomCenter .nav {
  height: 100%;
}

.header .headerBottom .bottomCenter .nav ul {
  height: 100%;
  display: flex;
  line-height: 90px;
}

.header .headerBottom .bottomCenter .nav ul li {
  height: 100%;
}

.header .headerBottom .bottomCenter .nav ul li a {
  display: block;
  height: 100%;
  padding: 0 20px;
  color: #333;
  font-size: 18px;
}

.header .headerBottom .bottomCenter .nav ul li:hover {
  background-color: #f99135;
}

.header .headerBottom .bottomCenter .nav ul li:hover a {
  color: #fff;
}

.header .headerBottom .bottomCenter .search {
  display: flex;
  justify-content: space-between;
  width: 340px;
  height: 44px;
  border: 2px solid #f99135;
  border-radius: 22px;
  box-sizing: border-box;
  margin-left: 100px;
}

.header .headerBottom .bottomCenter .search input {
  width: 270px;
  height: 100%;
  border-radius: 22px;
  border: none;
  padding-left: 20px;
  color: #bfbfbf;
  font-size: 16px;
}

.header .headerBottom .bottomCenter .search input:focus {
  outline: none;
}

.header .headerBottom .bottomCenter .search .searchRight {
  width: 70px;
  height: 100%;
  border-radius: 22px;
  background: url(../img/影城img/search.png) no-repeat center;
  background-color: #f99135;
}

.footer {
  width: 100%;
  height: 290px;
  background-color: #262426;
  color: #fff;
  font-size: 12px;
}

.footer .footerTop {
  width: 100%;
  height: 225px;
  box-sizing: border-box;
  border-bottom: 1px solid #545454;
}

.footer .footerTop .footerTopCenter {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.footer .footerTop .footerTopCenter dl {
  margin: 30px 100px 0px 60px;
}

.footer .footerTop .footerTopCenter dl dt {
  font-size: 18px;
}

.footer .footerTop .footerTopCenter dl dt + div {
  height: 3px;
  width: 50px;
  background-color: #f99135;
  margin: 10px 0 15px 0;
}

.footer .footerTop .footerTopCenter dl dt ~ dd {
  margin-bottom: 10px;
}

.footer .footerBottom {
  width: 100%;
  height: 65px;
}

.footer .footerBottom .footerBottomCenter {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .footerBottom .footerBottomCenter p:first-child {
  margin-bottom: 8px;
}
