@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.clearfix::before {
  content: "";
  display: block;
  clear: both;
}

.header {
  width: 100%;
  height: 130px;
  background-color: #fff;
  border-bottom: 1px solid #f99135;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header .header-top {
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
}

.header .header-top .top-center {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #9a9a9a;
}

.header .header-top .top-center a {
  color: #9a9a9a;
}

.header .header-top .top-center .top-right {
  display: flex;
}

.header .header-top .top-center .top-right span {
  display: block;
  line-height: 1;
  cursor: pointer;
}

.header .header-top .top-center .top-right span:first-child {
  padding-right: 20px;
  border-right: 1px solid #9a9a9a;
}

.header .header-top .top-center .top-right span:last-child {
  padding-left: 20px;
}

.header .header-bottom {
  width: 100%;
  height: 90px;
}

.header .header-bottom .bottom-center {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-bottom .bottom-center img {
  width: 170px;
}

.header .header-bottom .bottom-center select {
  border: none;
  font-size: 16px;
  color: #313131;
}

.header .header-bottom .bottom-center select:focus {
  outline: none;
}

.header .header-bottom .bottom-center .nav {
  height: 100%;
}

.header .header-bottom .bottom-center .nav ul {
  height: 100%;
  display: flex;
  line-height: 90px;
}

.header .header-bottom .bottom-center .nav ul li {
  height: 100%;
}

.header .header-bottom .bottom-center .nav ul li a {
  display: block;
  height: 100%;
  padding: 0 20px;
  color: #333;
  font-size: 18px;
}

.header .header-bottom .bottom-center .nav ul li:hover {
  background-color: #f99135;
}

.header .header-bottom .bottom-center .nav ul li:hover a {
  color: #fff;
}

.header .header-bottom .bottom-center .search {
  display: flex;
  justify-content: space-between;
  width: 340px;
  height: 44px;
  border: 2px solid #f99135;
  border-radius: 22px;
  box-sizing: border-box;
  position: relative;
}

.header .header-bottom .bottom-center .search input {
  width: 270px;
  height: 100%;
  border-radius: 22px;
  border: none;
  padding-left: 20px;
  color: #bfbfbf;
  font-size: 16px;
}

.header .header-bottom .bottom-center .search input:focus {
  outline: none;
}

.header .header-bottom .bottom-center .search .header-list {
  width: 270px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  position: absolute;
  top: 45px;
  left: 15px;
  cursor: pointer;
  display: none;
}

.header .header-bottom .bottom-center .search .search-right {
  width: 70px;
  height: 100%;
  border-radius: 22px;
  background: url(../影城img/search.png) no-repeat center;
  background-color: #f99135;
  cursor: pointer;
}

.footer {
  margin-top: 50px;
  width: 100%;
  height: 290px;
  background-color: #262426;
  color: #fff;
  font-size: 12px;
}

.footer .footer-top {
  width: 100%;
  height: 225px;
  box-sizing: border-box;
  border-bottom: 1px solid #545454;
}

.footer .footer-top .footer-top-center {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.footer .footer-top .footer-top-center dl {
  margin: 30px 100px 0px 60px;
}

.footer .footer-top .footer-top-center dl dt {
  font-size: 18px;
}

.footer .footer-top .footer-top-center dl dt + div {
  height: 3px;
  width: 50px;
  background-color: #f99135;
  margin: 10px 0 15px 0;
}

.footer .footer-top .footer-top-center dl dt ~ dd {
  margin-bottom: 10px;
}

.footer .footer-bottom {
  width: 100%;
  height: 65px;
}

.footer .footer-bottom .footer-bottom-center {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .footer-bottom .footer-bottom-center p:first-child {
  margin-bottom: 8px;
}

.login-border {
  width: 444px;
  height: 532px;
  background-color: rgba(27, 26, 26, 0.445);
  position: fixed;
  top: 270px;
  left: calc(50% - 222px);
  z-index: 10;
  display: none;
}

.login-border::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 44px solid transparent;
  border-bottom: 44px solid rgba(27, 26, 26, 0.445);
  border-radius: 44px;
  transform: rotate(45deg);
  position: absolute;
  top: -35px;
  right: -35px;
}

.login-border .login-register {
  width: 424px;
  height: 512px;
  background-color: #fff;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: calc(50% - 212px) auto;
  display: none;
}

.login-border .login-register .login-title {
  border-bottom: 1px solid #e5e5e5;
  width: 340px;
  height: 34px;
}

.login-border .login-register .login-title span {
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
  margin-right: 15px;
  font-size: 16px;
  color: #999;
  cursor: pointer;
}

.login-border .login-register .login-title .login-click {
  color: #333;
  border-bottom: 2px solid #f99135;
}

.login-border .login-register > input {
  box-sizing: border-box;
  width: 340px;
  height: 46px;
  border-radius: 10px;
  padding-left: 15px;
  font-size: 14px;
  color: #999;
  margin: 20px 0;
}

.login-border .login-register > input:focus {
  outline: none;
}

.login-border .login-register > input::placeholder {
  color: #999;
  font-size: 14px;
}

.login-border .login-register .captcha {
  display: flex;
  align-items: center;
  width: 340px;
  height: 46px;
  margin: 20px 0;
}

.login-border .login-register .captcha input {
  width: 90px;
  height: 100%;
  border-radius: 10px;
  padding-left: 15px;
  margin-right: 15px;
}

.login-border .login-register .captcha div {
  width: 80px;
  height: 44px;
  margin-right: 15px;
  border: 1px solid #9a9a9a;
  border-radius: 10px;
  text-align: center;
  line-height: 46px;
  font-size: 20px;
  letter-spacing: 5px;
}

.login-border .login-register button {
  box-sizing: border-box;
  width: 340px;
  height: 46px;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  background-color: #999;
  border: none;
}

.login-border .login-register .login-record {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e4e4e4;
  color: #999;
  font-size: 14px;
}

.login-border .login-register .login-record input {
  margin-right: 10px;
}

.login-border .login-register .login-record a {
  margin-left: 150px;
  color: #f99135;
}

.login-border .login-register .agreement {
  margin-top: 20px;
}

.login-border .login-register .agreement input {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  vertical-align: middle;
}

.login-border .login-register .agreement a {
  color: #999;
  font-size: 12px;
  vertical-align: middle;
}

.login-border .login-register > span {
  color: #f99135;
  font-size: 14px;
  margin-top: 20px;
  align-self: flex-end;
}

.login-border i {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #fff;
  font-size: 20px;
}
