.bread-nav {
  margin-top: 130px;
  width: 100%;
  height: 60px;
  background-color: #47464a;
}

.bread-nav .bread-nav-center {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  line-height: 60px;
  display: flex;
  justify-content: center;
}

.bread-nav .bread-nav-center ul {
  display: flex;
}

.bread-nav .bread-nav-center ul li {
  margin: 0 35px;
}

.bread-nav .bread-nav-center ul li a {
  font-size: 16px;
  color: #999;
}

.bread-nav .bread-nav-center ul li .active {
  color: #f99135;
  position: relative;
}

.bread-nav .bread-nav-center ul li .active::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 10px solid #47464a;
  border-bottom: 10px solid #fff;
  position: absolute;
  bottom: -20px;
  left: 22px;
}

.content {
  width: 100%;
  margin-top: 40px;
}

.content .content-center {
  width: 1200px;
  margin: 0 auto;
}

.content .content-center .allfilm-type {
  width: 100%;
  padding-left: 20px;
  margin-bottom: 40px;
  border: 1px solid #e5e5e5;
}

.content .content-center .allfilm-type .theater-massage {
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 5px;
}

.content .content-center .allfilm-type .theater-massage > span {
  color: #999;
}

.content .content-center .allfilm-type .theater-massage div {
  width: 1130px;
  display: flex;
  flex-wrap: wrap;
}

.content .content-center .allfilm-type .theater-massage div span {
  padding: 5px 20px;
}

.content .content-center .allfilm-type .theater-massage div span:first-child {
  color: #fff;
  background-color: #f99135;
  border-radius: 18px;
}

.content .content-center .allfilm-type hr {
  width: 1080px;
  border: 1px dashed #e5e5e5;
}

.content .content-center .allfilm {
  width: 100%;
}

.content .content-center .allfilm .film-order {
  display: flex;
}

.content .content-center .allfilm .film-order input {
  margin-right: 5px;
  color: #333;
  font-size: 14px;
}

.content .content-center .allfilm .film-items {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.content .content-center .allfilm .film-items .item {
  width: 161px;
  height: 287px;
  margin: 15px 46px 15px 0;
  text-align: center;
}

.content .content-center .allfilm .film-items .item:nth-child(6n) {
  margin-right: 0;
}

.content .content-center .allfilm .film-items .item img {
  width: 100%;
  vertical-align: bottom;
}

.content .content-center .allfilm .film-items .item h4 {
  height: 33px;
  line-height: 33px;
  font-size: 16px;
  color: #333;
}

.content .content-center .allfilm .film-items .item p {
  font-size: 24px;
  color: #f99135;
  padding-top: 8px;
  font-style: italic;
}

.content .content-center ul {
  width: 170px;
  height: 32px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
  color: #333;
}

.content .content-center ul li {
  width: 35px;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #d8d8d8;
}

.content .content-center ul li:last-child {
  width: 74px;
}

.content .content-center ul .li-click {
  background-color: #f99135;
  color: #fff;
  border: none;
}
