.content {
  width: 100%;
  margin-top: 180px;
}

.content .content-center {
  width: 1200px;
  margin: 0 auto;
}

.content .content-center .img {
  text-align: center;
}

.content .content-center .pay-success {
  width: 100%;
  height: 110px;
  margin-top: 40px;
  background-color: #fff3f3;
  display: flex;
  align-items: center;
}

.content .content-center .pay-success img {
  width: 41px;
  height: 41px;
  margin-left: 25px;
}

.content .content-center .pay-success div {
  margin-left: 15px;
  color: #333;
}

.content .content-center .pay-success div h4 {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.content .content-center .pay-success div p {
  font-size: 14px;
}

.content .content-center .movie-message {
  margin-top: 40px;
}

.content .content-center .movie-message .prompt {
  display: flex;
  align-items: center;
}

.content .content-center .movie-message .prompt p {
  font-size: 12px;
  color: #333;
  margin-left: 5px;
}

.content .content-center .movie-message table {
  border: 1px solid #e5e5e5;
  width: 100%;
}

.content .content-center .movie-message table thead {
  text-align: left;
  height: 51px;
  background-color: #f7f7f7;
}

.content .content-center .movie-message table thead th {
  font-weight: 400;
  font-size: 14px;
  color: #333;
  padding-left: 15px;
}

.content .content-center .movie-message table thead th span:nth-child(2) {
  color: #999;
  padding-left: 35px;
}

.content .content-center .movie-message table tbody {
  color: #333;
  font-size: 14px;
}

.content .content-center .movie-message table tbody td {
  text-align: right;
}

.content .content-center .movie-message table tbody td img {
  width: 68px;
  height: 93px;
}

.content .content-center .movie-message table tbody td:first-child {
  text-align: left;
  display: flex;
  padding: 20px 0 20px 20px;
}

.content .content-center .movie-message table tbody td:first-child div {
  margin-left: 10px;
}

.content .content-center .movie-message table tbody td:first-child div h4 {
  font-size: 16px;
  margin-top: 10px;
}

.content .content-center .movie-message table tbody td:first-child div p {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

.content .content-center .movie-message table tbody td:first-child div p:last-child {
  color: #f99135;
}

.content .content-center .movie-message table tbody td button {
  width: 80px;
  height: 30px;
  background-color: #f99135;
  border-radius: 15px;
  border: none;
  color: #fff;
}
