.banner {
  margin-top: 130px;
  width: 100%;
  height: 361px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.banner img {
  width: 100%;
  vertical-align: bottom;
}

.banner ul {
  width: 100%;
  height: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 25px;
}

.banner ul li {
  width: 40px;
  height: 3px;
  margin: 4px 5px;
  background-color: #ddd;
  cursor: pointer;
}

.banner .fa-chevron-left {
  position: absolute;
  left: 15%;
  top: 50%;
  color: #ddd;
}

.banner .fa-chevron-right {
  position: absolute;
  right: 15%;
  top: 50%;
  color: #ddd;
}

.movie-ticket {
  width: 100%;
  height: 140px;
}

.movie-ticket .ticket-center {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 0 56px 0;
  box-sizing: border-box;
  text-align: center;
  line-height: 44px;
}

.movie-ticket .ticket-center .buy-ticket {
  width: 150px;
  height: 44px;
  background-color: #f99135;
  font-size: 24px;
  color: #fff;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}

.movie-ticket .ticket-center select {
  width: 206px;
  height: 44px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 22px;
  padding-left: 20px;
  font-size: 16px;
  color: #8c8c8c;
}

.movie-ticket .ticket-center select:focus {
  outline: none;
}

.movie-ticket .ticket-center .buying-ticket {
  width: 120px;
  height: 44px;
  background-color: #f99135;
  border-radius: 22px;
  color: #fffefe;
  font-size: 18px;
}

.content {
  width: 100%;
}

.content .content-center {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  background-color: #c97777;
}

.content .content-center .titles {
  width: 100%;
  height: 26px;
  margin-bottom: 20px;
  color: #f99135;
  display: flex;
  justify-content: space-between;
}

.content .content-center .titles span {
  font-size: 26px;
  line-height: 1;
}

.content .content-center .titles span span {
  font-size: 20px;
  margin-left: 15px;
}

.content .content-center .titles a {
  color: #f99135;
  font-size: 14px;
}

.content .content-center .content-left {
  width: 730px;
}

.content .content-center .content-left .playing-movies {
  width: 100%;
}

.content .content-center .content-left .playing-movies .content-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content .content-center .content-left .playing-movies .content-items .content-item {
  width: 160px;
  margin-bottom: 30px;
  border: 1px solid #e8e8e8;
}

.content .content-center .content-left .playing-movies .content-items .content-item img {
  vertical-align: bottom;
  width: 100%;
}

.content .content-center .content-left .playing-movies .content-items .content-item .movie-name {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .content-center .content-left .playing-movies .content-items .content-item .movie-name p {
  font-size: 16px;
  color: #003333;
}

.content .content-center .content-left .playing-movies .content-items .content-item .movie-name span {
  font-size: 14px;
  color: #f99135;
}

.content .content-center .content-left .coming-soon {
  background-color: #dfb543;
  margin-top: 30px;
}

.content .content-center .content-left .coming-soon .movie-name + p {
  width: 100%;
  height: 68px;
  line-height: 68px;
  text-align: center;
  font-size: 14px;
  color: #999;
}

.content .content-center .content-right {
  width: 363px;
  height: 100%;
  background-color: #98ec37;
}

.content .content-center .content-right .active1 {
  width: 100%;
  height: 196px;
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.content .content-center .content-right .active1 img {
  height: 100%;
}

.content .content-center .content-right .active1 .actives-message {
  margin-left: 10px;
}

.content .content-center .content-right .active1 .actives-message h5 {
  color: #333;
  font-size: 18px;
  margin-bottom: 15px;
}

.content .content-center .content-right .active1 .actives-message p {
  color: #999;
  font-size: 16px;
  margin-bottom: 10px;
}

.content .content-center .content-right .active1 .actives-message span {
  color: #f99135;
  font-size: 14px;
}

.content .content-center .content-right .active2 {
  width: 100%;
  height: 185px;
  display: flex;
  justify-content: space-between;
}

.content .content-center .content-right .active2 .active2-items {
  width: 172px;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
}

.content .content-center .content-right .active2 .active2-items img {
  width: 100%;
  vertical-align: bottom;
}

.content .content-center .content-right .active2 .active2-items p {
  font-size: 18px;
  color: #333;
  margin: 10px 8px 0;
  overflow: hidden;
}

.content .content-center .content-right .active2 .active2-items p:nth-child(3) {
  font-size: 14px;
  color: #999;
  margin-top: 5px;
}
