* {
    margin: 0;
    padding: 0;
}

.menu_logo {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 20px;

    .menu_logo_title {
        color: #fff;
        margin-left: 20px;
    }
}

.userName {
    margin: 0 30px 0 10px;
}