ul {
  list-style: none;
}

body {
  background-color: #0b193f;
}

header {
  height: 2.45rem;
}

header h4 {
  color: #f2f2f2;
  font-size: 0.32rem;
  margin-top: 1.2rem;
}

main {
  width: 6.8rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0.18rem;
  position: relative;
}

main .main-top-message {
  width: 100%;
  height: 3.2rem;
  border-bottom: 0.01rem dashed #caced7;
  overflow: hidden;
  display: flex;
}

main .main-top-message .image {
  width: 1.17rem;
  height: 2.1rem;
  margin: 0.4rem 0.5rem 0 0.4rem;
}

main .main-top-message .image img {
  width: 1.17rem;
  height: 2.1rem;
  border-radius: 0.14rem;
}

main .main-top-message .text {
  margin-top: 0.8rem;
}

main .main-top-message .text h5 {
  color: #4073ff;
  font-size: 0.24rem;
  font-weight: 400;
  margin-bottom: 0.18rem;
}

main .main-top-message .text h4 {
  color: #000018;
  font-size: 0.32rem;
  margin-bottom: 0.18rem;
}

main .main-top-message .text p {
  color: #8890a3;
  font-size: 0.24rem;
}

main .main-top-message::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 0.25rem solid #0b193f;
  border-radius: 0.25rem;
  position: absolute;
  top: 2.95rem;
  left: -0.25rem;
}

main .main-top-message::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 0.25rem solid #0b193f;
  border-radius: 0.25rem;
  position: absolute;
  top: 2.95rem;
  right: -0.25rem;
}

main .seat-order {
  width: 5.75rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
  padding-bottom: 0.2rem;
  color: #000018;
  font-size: 0.24rem;
}

main .seat-order .seat-left p {
  margin-bottom: 0.2rem;
}

main .seat-order .seat-left p:nth-child(2) {
  margin-bottom: 0.5rem;
  font-size: 0.28rem;
  font-weight: 700;
}

main .seat-order .seat-left .seat-message {
  width: 2.45rem;
}

main .seat-order .seat-left .seat-message ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.2rem;
  width: 100%;
  text-align: center;
  line-height: 0.4rem;
}

main .seat-order .seat-left .seat-message ul li {
  width: 0.4rem;
  height: 0.4rem;
  margin-right: 0.05rem;
  margin-bottom: 0.05rem;
  background-color: #4073ff;
  color: #fff;
}

main .seat-order .seat-right {
  margin-right: 0.3rem;
}

main .seat-order .seat-right p {
  margin-bottom: 0.2rem;
}

main .seat-order .seat-right p:nth-child(2) {
  font-size: 0.28rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

main .seat-order .seat-right span {
  font-size: 0.28rem;
  font-weight: 700;
}

main .border {
  width: 100%;
  height: 0.01rem;
  background-color: #caced7;
}

main .order-message {
  display: flex;
  justify-content: space-between;
  width: 5.75rem;
  margin: 0 auto;
  margin-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 0.24rem;
  color: #000018;
}

main .order-message .order-num p {
  margin-top: 0.8rem;
  font-weight: 700;
  font-size: 0.28rem;
  letter-spacing: 0.13rem;
}

main .order-message .order-qrcode p {
  padding-left: 0.1rem;
}

main .order-message .order-qrcode .qrcode {
  width: 1.28rem;
  height: 1.28rem;
  border: 0.03rem solid #000018;
  border-radius: 0.2rem;
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  border: none;
  margin-top: 0.75rem;
}

.footer button {
  width: 6.7rem;
  height: 0.96rem;
  display: block;
  margin: 0 auto;
  background-color: #4073ff;
  border: none;
  border-radius: 0.16rem;
  color: #fff;
  font-size: 0.32rem;
  font-weight: 700;
}
