@import './header.scss';
@import './footer.scss';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 0.14rem
}

.banner {
    width: 100%;
    height: 11.13rem;
    background: url(../images/首页背景3.png) no-repeat;
    background-size: cover;
    padding: 0.01rem; //解决margin-top的传递性
    position: relative;

    .bannerMsg {
        margin-top: 0.85rem;
        color: #fff;
        text-align: center;

        h1 {
            font-size: 0.3rem;
            font-weight: 400;
            margin-bottom: 0.36rem;
        }

        h2 {
            font-size: 0.64rem;
            font-weight: 400;
            margin-bottom: 0.34rem;
        }

        .border {
            width: 1.35rem;
            height: 0.03rem;
            background-color: #fff;
            margin: 0 auto;
        }

        p {
            font-size: 0.26rem;
            margin-top: 0.36rem;
        }

        .bannerImg {
            width: 5.7rem;
            height: 4.61rem;
            margin: 0.87rem auto 0;

            img {
                width: 100%;
            }
        }

    }

    .bannerNav {
        width: 7.5rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: absolute;
        top: 9.7rem;

        .textBox {
            width: 2.2rem;
            height: 2.2rem;
            margin: 0.14rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border-radius: 0.08rem;
            box-shadow: 0 0 0.1rem rgba(174, 174, 174, 0.44);
            font-size: 0.24rem;
            color: #333;

            img {
                width: 1.21rem;
                height: 1.17rem;
                margin-bottom: 0.2rem;
            }
        }
    }



}

.content {
    width: 100%;
    margin-top: 4.6rem;

    .seriousExams {
        width: 6.8rem;
        height: 9.8rem;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 0.37rem;
            font-weight: 400;
            color: #373737;
            position: absolute;
            top: 0.03rem;
        }

        h2 {
            font-size: 0.48rem;
            font-weight: 400;
            color: #e6e6e6;
            margin-bottom: 0.83rem;

        }

        p {
            font-size: 0.24rem;
            color: #666666;
            line-height: 0.65rem;
        }

        button {
            width: 1.81rem;
            height: 0.61rem;
            border: none;
            background-color: #726fff;
            color: #fff;
            font-size: 0.2rem;
            margin-top: 0.79rem;
        }

        img {
            width: 4.82rem;
            height: 4.23rem;
            margin-top: 0.76rem;
        }
    }

    .statistics {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        background: url(../images/首页背景4.png) no-repeat;
        background-size: cover;
        // background-color: pink;

        h1 {
            font-size: 0.37rem;
            font-weight: 400;
            color: #373737;
            position: absolute;
            top: 2.1rem;
        }

        h2 {
            font-size: 0.48rem;
            font-weight: 400;
            color: #e6e6e6;
            letter-spacing: -0.05rem;
            margin: 2.05rem 0 0.8rem 0;
        }

        .charts {
            width: 5.9rem;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 1.91rem;

            .chartsBox {
                width: 2.8rem;
                height: 3.2rem;
                background-color: #fff;
                margin-bottom: 0.27rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .circle {
                    width: 1.6rem;
                    height: 1.6rem;
                    border-radius: 1rem;
                    color: #fff;
                    font-size: 0.44rem;
                    text-align: center;
                    line-height: 1.6rem;
                    margin-top: 0.2rem;

                    span {
                        font-size: 0.24rem;
                    }
                }

                p {
                    color: #333;
                    font-size: 0.24rem;
                    margin-top: 0.4rem;

                }

                .color1 {
                    box-shadow: 0 0 0 0.2rem #d1d0ff;
                    background-color: #726fff;
                }

                .color2 {
                    box-shadow: 0 0 0 0.2rem #f8cde3;
                    background-color: #eb66ab;
                }

                .color3 {
                    box-shadow: 0 0 0 0.2rem #e3cdf8;
                    background-color: #ab66eb;
                }

                .color4 {
                    box-shadow: 0 0 0 0.2rem #f6cdf8;
                    background-color: #e366eb;
                }
            }
        }
    }

    .examsNotice {
        margin-top: 1.11rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        // background-color: pink;

        h1 {
            font-size: 0.37rem;
            font-weight: 400;
            color: #373737;
            position: absolute;
            top: 0.05rem;
        }

        h2 {
            font-size: 0.48rem;
            font-weight: 400;
            color: #e6e6e6;
            letter-spacing: 0.07rem;
        }

        .noticeType {
            width: 100%;
            margin-top: 0.69rem;
            display: flex;
            justify-content: center;
            text-align: center;
            color: #726fff;
            font-size: 0.2rem;

            .all {
                width: 0.9rem;
                height: 0.38rem;
                border-radius: 0.19rem;
                margin-right: 0.2rem;
                border: 0.01rem solid #726fff;
            }

            .bgbule {
                background-color: #726fff;
                border: none;
                color: #fff;
            }

            .recently {
                width: 0.9rem;
                height: 0.38rem;
                border: 0.01rem solid #726fff;
                border-radius: 0.19rem;
                margin-right: 0.2rem;
            }

            .preMonth {
                width: 1.2rem;
                height: 0.38rem;
                border: 0.01rem solid #726fff;
                border-radius: 0.18rem;
            }
        }

        .noticeContent {
            width: 6.7rem;
            position: relative;

            .noticeBox {
                width: 100%;
                margin-top: 0.6rem;
                border-bottom: 0.01rem solid #cfcfcf;

                h3 {
                    font-size: 0.28rem;
                    color: #373737;
                }

                p {
                    font-size: 0.24rem;
                    color: #666666;
                    margin: 0.49rem 0;
                    text-indent: 0.5rem;
                }
            }

            .alertBg {
                width: 7.5rem;
                height: 300rem;
                background-color: rgba(97, 95, 95, 0.61);
                position: absolute;
                bottom: -3rem;
                right: -0.4rem;
                display: none;

                .noticeAlert {
                    width: 6.7rem;
                    height: 7.72rem;
                    background-color: #fff;
                    border-radius: 0.2rem;
                    padding: 0 0.4rem;
                    position: absolute;
                    bottom: 4.5rem;
                    left: 0.4rem;

                    .close {
                        width: 0.5rem;
                        height: 0.5rem;
                        border-radius: 0.25rem;
                        background: url(../images/close.png) no-repeat;
                        background-size: cover;
                        position: absolute;
                        top: 0.2rem;
                        right: 0.2rem;
                    }

                    h1 {
                        position: static;
                        font-size: 0.3rem;
                        color: #373737;
                        text-align: center;
                        margin: 0.54rem 0;
                    }

                    p {
                        font-size: 0.24rem;
                        color: #666666;
                        line-height: 0.58rem;
                        text-indent: 0.55rem;
                    }
                }
            }

        }
    }
}