body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
}

.header .center {
  width: 1160px;
  height: 140px;
}

.header .center .center-top {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .center .center-top img {
  width: 170px;
  height: 60px;
}

.header .center .center-top .message {
  display: flex;
  align-items: center;
}

.header .center .center-top .message a {
  color: #000;
  font-size: 13px;
  padding: 0 15px;
}

.header .center .center-top .message .border-right {
  border-right: 1px solid #dbdbdb;
}

.header .center .center-top .message .search {
  border-bottom: 1px solid #000;
  display: flex;
}

.header .center .center-top .message .search input {
  width: 140px;
  border: 0;
}

.header .center .center-top .message .search input:focus {
  outline: none;
}

.header .center .center-top .message .search::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/icons_xuebitu.png) no-repeat;
  background-position: -83px 0;
}

.header .center .center-top .message .icon {
  display: flex;
  align-items: center;
}

.header .center .center-top .message .icon div {
  width: 20px;
  height: 20px;
  margin: 6px;
  background: url(../img/icons_xuebitu.png) no-repeat;
}

.header .center .center-top .message .icon .item1 {
  background-position: -26px 0px;
}

.header .center .center-top .message .icon .item3 {
  background-position: -55px 0px;
}

.header .center .center-bottom {
  width: 100%;
  height: 40px;
}

.header .center .center-bottom ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: center;
}

.header .center .center-bottom ul a {
  display: block;
  height: 100%;
  color: #333;
  font-size: 13px;
  padding: 0 20px;
}

.header .center .center-bottom ul a:hover {
  color: #a10000;
}
