/* banner区域 */
.banner {
    margin-top: 140px;
    width: 100%;
    /* height: 666px; */
    /* background-color: pink; */
}

.banner img {
    width: 100%;
    display: block;
}

/*content区域 */
.content {
    width: 100%;
    /* 内容的高度一般不会写死,有内容撑开 */
    /* height: 400px; */
    /* background-color: yellow; */
}

.content .con-center {
    width: 1160px;
    /* height: 1450px; */
    /* border: 1px solid white; */
    /* margin: 30px auto 0; */
    margin: 0 auto;
    /* overflow: hidden; */
    position: relative;
    top: -40px;
}

/* con-top开始 */
.content .con-center .con-top {
    width: 840px;
    height: 380px;
    /* background-color: rgb(97, 26, 38); */
    margin: 0 auto;
    /* overflow: hidden; */
    background: url(../img/bg.jpg) repeat-x bottom;
    background-color: #fff;
}

.content .con-center .con-top .icon {
    float: left;
    width: 260px;
    /* height: 350px; */
    margin: 15px 0px 15px 15px;
    /* background-color: rgb(151, 80, 80); */
    overflow: hidden;
}

.content .con-center .con-top .icon img {
    transition: all .5s;
    display: block;
}

.content .con-center .con-top .icon:hover img {
    transform: scale(1.08,1.08);
}


/* con-bottom开始 */
.content .con-center .con-bottom {
    width: 1160px;
    /* height: 1070px; */
    /* background-color: aqua; */
}

.content .con-center .con-bottom .pic-center {
    width: 100%;
    /* height: 42px; */
}

.content .con-center .con-bottom .pic-center img {
    display: block;
    margin: 30px auto;
}

.content .con-center .con-bottom .box {
    width: 100%;
}

.content .con-center .con-bottom .box .item {
    float: left;
    width: 268px;
    height: 320px;
    margin: 0 29px 22px 0;
    text-align: center;
}

.content .con-center .con-bottom .box .item:hover {
    box-shadow: 0px 0px 10px 1px #757575;
}

.content .con-center .con-bottom .box .item .img {
    position: relative;
    width: 268px;
    height: 268px;
    overflow: hidden;
}

.content .con-center .con-bottom .box .item .img::before,
.content .con-center .con-bottom .box .item .img::after {
    content: "";
    display: block;
    width: 268px;
    height: 268px;
    background-color: rgba(0, 225, 255, 0.137);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s;
    transform: translate(-268px, -268px);

}

.content .con-center .con-bottom .box .item .img::after {
    transform: translate(268px, 268px);
}

.content .con-center .con-bottom .box .item:hover .img::before,
.content .con-center .con-bottom .box .item:hover .img::after {
    transform: translate(0px, 0px);
}


.content .con-center .con-bottom .box .item:nth-child(4n) {
    margin-right: 0;
}

.content .con-center .con-bottom .box .item img {
    display: block;
}

.content .con-center .con-bottom .box .item .item-price h4 {
    font-size: 12px;
    margin: 0;
    margin: 7px;
    color: #000000;
    text-align: center;
    font-weight: 400;
}

.content .con-center .con-bottom .box .item .item-price span {
    font-size: 14px;
    color: #a10000;
}