* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    width: 100%;
    height: 130px;
    background-color: #fff;
    border-bottom: 1px solid #f99135;
    position: fixed;
    top: 0;
    z-index: 10;

    .header-top {
        width: 100%;
        height: 40px;
        background-color: #f0f0f0;

        .top-center {
            width: 1200px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            color: #9a9a9a;

            a {
                color: #9a9a9a;
            }

            .top-right {
                display: flex;

                span {
                    display: block;
                    line-height: 1;

                    &:first-child {
                        padding-right: 20px;
                        border-right: 1px solid #9a9a9a;
                    }

                    &:last-child {
                        padding-left: 20px;
                    }
                }
            }

        }
    }

    .header-bottom {
        width: 100%;
        height: 90px;

        .bottom-center {
            width: 1200px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                width: 170px;
            }

            select {
                border: none;
                font-size: 16px;
                color: #313131;

                &:focus {
                    outline: none;
                }
            }

            .nav {
                height: 100%;

                ul {
                    height: 100%;
                    display: flex;
                    line-height: 90px;

                    li {
                        height: 100%;

                        a {
                            display: block;
                            height: 100%;
                            // box-sizing: border-box;
                            padding: 0 20px;
                            color: #333;
                            font-size: 18px;
                        }

                        &:hover {
                            background-color: #f99135;

                            a {
                                color: #fff;
                            }
                        }
                    }
                }
            }

            .search {
                display: flex;
                justify-content: space-between;
                width: 340px;
                height: 44px;
                border: 2px solid #f99135;
                border-radius: 22px;
                box-sizing: border-box;
                

                input {
                    width: 270px;
                    height: 100%;
                    border-radius: 22px;
                    border: none;
                    padding-left: 20px;
                    color: #bfbfbf;
                    font-size: 16px;

                    &:focus {
                        outline: none;
                    }
                }

                .search-right {
                    width: 70px;
                    height: 100%;
                    border-radius: 22px;
                    background: url(../img/影城img/search.png) no-repeat center;
                    background-color: #f99135;

                }
            }
        }
    }
}

.footer {
    margin-top: 50px;
    width: 100%;
    height: 290px;
    background-color: #262426;
    color: #fff;
    font-size: 12px;

    .footer-top {
        width: 100%;
        height: 225px;
        box-sizing: border-box;
        border-bottom: 1px solid #545454;

        .footer-top-center {
            width: 1200px;
            height: 100%;
            margin: 0 auto;
            display: flex;

            dl {
                margin: 30px 100px 0px 60px ;
                dt {
                    font-size: 18px;

                    +div {
                        height: 3px;
                        width: 50px;
                        background-color: #f99135;
                        margin: 10px 0 15px 0;
                    }
                    ~dd {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .footer-bottom {
        width: 100%;
        height: 65px;
        .footer-bottom-center {
            height: 100%;
            width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                &:first-child {
                    margin-bottom: 8px;
                }
            }
        }
    }
}